.Banner{
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    height: 600px;
    width: 1320px;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Banner\ Image.png) ; 
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    
    
}

.Banner h5{
    font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.Banner h2{
    margin: 233px 344px 177px 344px; 
    font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
}